/* Nav-Top*/
.nav-top {
  color:#ffffff;
  margin: 0 auto;
  font-family: 'Garamond', serif;
  font-weight: 700;
  text-decoration-color: #fff;
  font-size: 1em;
  text-align: center;
}

/* Splash Area*/
.hero-container {
  position:relative;
  text-align:center;
  color:#000000;
}

.hero-image {
  width: 100%;
}


/* Media Queries*/
@media (max-width:700px) {
  .hero-head {
    font-size:1.5em;
  }
}

#headline {
  font-family: 'Georgia', serif;
  font-size: 2.5em;
  font-weight: 900;
  text-align: left;
  padding-top: 15px;
  text-transform: capitalize;
}

#byline{
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  text-align: left;
  padding-bottom: 40px;
}

p {
  text-family: 'Roboto', sans-serif;
  line-height: 180%;
  font-size: 1.2em;
  margin-bottom: 30px;
}

h1 {
  font-family: 'Georgia', serif;
  text-align: center;
  font-size: 1em;
  font-weight: 600;
  padding-top: 100px;
  padding-bottom: 5px;

}

/*Pull Quote */
  .quote {

  font-family: 'Roboto', sans-serif;
  font-size:2.3em;
  color:#00ced1;
  font-weight:700;
  text-align:center;
  padding: 15px 0 15px 0;
  margin-top:55px;
  margin-bottom: 55px;
  border-top: solid 3px #000000;
  border-bottom: solid 3px #000000;
}

.quote-attribution {
  font-size:.4em;
  font-family: 'Roboto', sans-serif;
  font-weight:100;
  text-align:center;
  color:#000;
}

img {
    positon: absolute;
    width: 100%;
}


center {
font-family: 'Roboto', sans-serif;
font-size:.7em;
font-style:italic;
margin-top: 0;
margin-bottom: 20px;
text-align: left;
}

a:link {
  color: #33d1ff;
}

/* visited link */
a:visited {
  color: #93ff33;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

ul.no-bullets {
  list-style-type: none;
  margin-bottom: 35px;
  padding-bottom: 45px;
  text-align: center;

}

footer {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding: 1px;
  background-color: Black;
  color: white;
  font-size: 0.8em;
  font-style: italic;
}
