
/* Nav-Top*/
.nav-top {
  color:#ffffff;
  margin: 0 auto;
  text-transform:uppercase;
  font-weight: 700;
  text-decoration-color: #fff;
  font-size: .75em;
}

.red {
  color:#f23030;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2em;
}

.container {
  margin: 0 auto;
  width: 1075px;

}

/* Splash Area*/
.hero-container {
  position:relative;
  text-align:center;
  color:#fff;
}

.hero-image {
  width: 100%;
}

.overlay {
  position:absolute;
  top:0;
  width:100%;
  background-color:#ffffff;
  opacity:.7;
}

.hero-head {
  font-family: 'Garamond', serif;
  font-size:7em;
  color: #000000;
  margin:0 auto;
  padding-bottom:10px;
  font-weight: bold;
}

.hero-sub {
  font-family: 'Montserrat', sans-serif;
  font-size:.25em;

}

/*Pull Quote */
  .quote {
    font-family: 'Montserrat', sans-sans-serif;
    font-size:3em;
    color:#f23030;
    font-weight:700;
    text-align:left;
    padding: 15px 0 15px 0;
    border-top: 1px solid #f23030;
    border-bottom: 1px solid #f23030;
    margin-top:20px;
    margin-bottom: 20px;
}

.quote-attribution {
  font-size:.5em;
  font-family: 'Montserrat', sans-serif;
  font-weight:100;
  text-align:left;
  color:#000;
}
/*End Pull Quote*/
/* Media Queries*/
@media (max-width:700px) {
  .hero-head {
    font-size:1.5em;
  }
}

#headline {
  font-size: 2.5em;
  font-weight: 700;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  padding-top: 30px;
  text-transform: capitalize;
}

#byline{
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 50px;
}

p {
  text-family: 'Montserrat', sans-serif;
  line-height: 180%;
  font-size: 1.5em;
  margin-bottom: 30px;
}

h2 {
  text-family: 'Montserrat', sans-serif;
  font-size: 2em;
  font-weight: 700;
  text-align: left;
  padding-bottom: 20px;
  color:#f23030;
}

img {
    positon: absolute;
    width: 100%;
}

center {
font-family: 'Montserrat', serif;
font-size:1em;
font-style:italic;
margin-top: 0;
margin-bottom: 20px;
}

footer {
  font-family: 'Montserrat', serif;
  text-align: center;
  padding: 3px;
  background-color: Black;
  color: white;
