
/* Nav-Top*/
.nav-top {
  color:#fff;
  margin: 0 auto;
  text-transform:uppercase;
  font-weight: 700;
}

.red {
  color:#f23030;
}

/* Splash Area*/
.hero-container {
  position:relative;
  text-align:center;
  color:#fff;
}

.hero-image {
  width: 100%;
}
.overlay {
  position:center;
  width:75%;

}

.hero-head {
  font-family: 'Playfair Display', serif;
  font-size:6em;
  color:#fff;
  margin:0 auto;
  padding-bottom:10px;
}

.hero-sub {
  font-family: 'Montserrat', sans-serif;
  font-size:.25em;

}

/*Pull Quote */
  .quote {
    font-family: 'Montserrat', sans-sans-serif;
    font-size:3em;
    color:#f23030;
    font-weight:700;
    text-align:left;
    padding: 15px 0 15px 0;
    border-top: 1px solid #f23030;
    border-bottom: 1px solid #f23030;
    margin-top:20px;
    margin-bottom: 20px;
}

.quote-attribution {
  font-size:.5em;
  font-family: 'Montserrat', sans-serif;
  font-weight:100;
  text-align:left;
  color:#000;
}
/*End Pull Quote*/
/* Media Queries*/
@media (max-width:700px) {
  .hero-head {
    font-size:1.5em;
  }
}

#headline {
  font-size: 3em;
  font-weight: 700;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

#byline{
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 50px;
}

p {
  text-family: Georgia, serif;
  line-height: 180%;
  font-size: 1em;
  margin-bottom: 30px;
}

h2 {
  text-family: 'Montserrat', sans-serif;
  font-size: 2em;
  font-weight: 700;
  text-align: left;
  padding-bottom: 20px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;

    margin-bottom:0;
    width: 50%;
}

center {
font-family: 'Montserrat', serif;
font-size:1em;
font-style:italic;
margin-top: 0;
margin-bottom: 20px;
}

footer {
  font-family: 'Montserrat', serif;
  text-align: center;
  padding: 3px;
  background-color: Black;
  color: white;
