#content {
  margin: 0 auto;
  width: 900px;
}

/*Headline*/
h1 {
  font-family:"Times New Roman", serif;
  font-size:17px;
  font-weight:600;
  text-align:center;
  margin-top:20px;
  margin-bottom:0;
  margin-left:10;
  margin-right:10;
}
/*Subheadings*/
h2 {
  font-family:"Times New Roman", serif;
  font-size:14px;
  font-weight:bold;
  text-align:Center;

}


#byline {
font-family: Helvetica, sans-serif;
font-size: 14px;
text-align:center;
font-style: italic;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:20px;
  margin-bottom:10px;
  width: 50%;
}
/*Captions*/
center {
  font-family: "Times New Roman", serif;
  font-size:10px;
  font-style:italic;
  margin-top:0;
}

p {
  font-family: Helvetica, Arial, sans-serif;
  font-size:12px;
  margin: 15px 175px;
}
