#content {
  margin: 0 auto;
  width: 900px;
}

/*Headline*/
h1 {
  font-family:"Times New Roman", serif;
  font-size:17px;
  font-weight:600;
  text-align:center;
  margin-top:20px;
  margin-bottom:0;
  margin-left:10;
  margin-right:10;
}
/*Subheadings*/
h2 {
  font-family:"Times New Roman", serif;
  font-size:14px;
  font-weight:bold;
  text-align:Center;
  margin-top:30px;

}

#byline {
font-family: Helvetica, sans-serif;
font-size: 14px;
text-align:center;
font-style: italic;
margin-top: 10px;
}

#date {
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  text-align: center;
  margin-top:5px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:20px;
  margin-bottom:10px;
  width: 50%;
}
/*Captions*/
center {
  font-family: "Times New Roman", serif;
  font-size:12px;
  font-style:italic;
  margin-top:0;
}

p {
  font-family: Helvetica, Arial, sans-serif;
  font-size:12px;
  margin: 15px 175px;
}

blockquote {
font: 24px normal helvetica, sans-serif;
font-style: italic;
font-weight:700;
margin-top: 35px;
margin-bottom: 35px;
color: purple;
margin-left: 10px;
padding-left: 8px;
text-align: center;
}

cite {
  font: 20px Georgia, serif;
  text-align: center;
  color: black;
  font-weight:150;
  font-style:italic;
}

h3 {
  font-family: "Times New Roman", serif;
  font-size:13px;
  font-weight:bold;
  text-align: center;
  margin-top: 60px;
}

ul.no-bullets {
  list-style-type: none;
  margin-bottom: 35px;
  padding: 0;
  text-align: center;

}
